<header>
        <h1>Drawing Pad</h1>
        <div class = 'nav-bar'> </div>
        <div class = "navbar">
            <ul class = "navbar-list">
                <li class = 'navbar-item' ><a href="/">Home</a></li>
                <li class = 'navbar-item' ><a href="delete">Delete</a></li>
                <li class = 'navbar-item' ><a href="drawing-pad">New</a></li>
            </ul>
        </div>
    </header>
