/*
 *Style sheet for index.html
 */
html{
  margin: 0;
  font-family: 'Helvetica Neue', 'Helvetica', 'Liberation Sans', 'Arial', sans-serif;
}

body{
  margin: 0;
}

header{
  background-color: Grey;
}

h1{
  color:white;
  background-color:Grey;
  margin: 0;
  padding: 10px;
  font-size: 40px;
  text-align: center;
}

.navbar {
    background-color: #b3d9ff;
    font-size: 20px;
}

.navbar-list{
    display: inline;
    margin: 0px;
    padding:0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-item{
    display: inline-block;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left:10px;
    margin-right:10px;
}

.navbar-right{
    float: right;
}

.navbar-item:hover{
    background-color: #e6f2ff;
    cursor: pointer;
}
.color-button{
  border: none;
  font-size:1rem;
  color: rgba(0,0,0,0);
}
.color-input{
  width:1rem;
}
#black{
  background-color:black;
}
#red{
  background-color:red;
}
#green{
  background-color:green;
}
#blue{
  background-color:blue;
}
#drawing-pad{
    float: right;
    /* border for visibility purposes */
    border-style: solid;
    border-width: 5px;
    cursor: default;
}
