
  {{>basic-header}}

<main>
    <div class = 'basic-message'>
        <img src = 'https://d30y9cdsu7xlg0.cloudfront.net/png/3058-200.png' alt="Trash">
        <h3>Delete an old canvas/drawing</h3>
        <h5>Select an option below:</h5>
        <div class='select-container'>
            <select id = 'select-canvas'>
                <option value="">Select a color set</option>

            </select>
        </div>
    </div>
</main>
