{{>basic-header}}

<main>
    <div class = 'basic-message'>
        <img src = 'https://lh5.ggpht.com/4rWV3qQFONSkmyxanZB-E0dOstKbrZuJ-dSXpmHwnWvLdKIsR7cReJjM_UvjVW1b-KHq=w300' alt="Paint">
        <h3>Open an older canvas or Start a new one</h3>
        <h6>You can also start a new drawing via the bar at the top of the page</h6>
        <h5>Select an option below:</h5>
        <div class='select-container'>
            <select id = 'select-canvas'>
                <option value="">Select a canvas</option>
                <option value="">New Canvas</option>

            </select>
        </div>
    </div>
</main>
